body {
    background-color: #ADD8E6;
    color: #333;
    font-family: fantasy;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    text-align: center;
    cursor: url('tennis-cursor.cur'), auto;
    background-image: url("grass-field-adobe.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    }

h1 { font-size: 2.5rem; margin-bottom: 1rem; }

h2 { font-size: 2rem; color: blue; margin-top: 0; }

p  { font-size: 1.5rem; }